apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Chart.Name }}
  labels:
    app: {{ .Chart.Name }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      app: {{ .Chart.Name }}
  template:
    metadata:
      labels:
        app: {{ .Chart.Name }}
    spec:
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 5679
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /
              port: http
          readinessProbe:
            httpGet:
              path: /
              port: http
          env:
            - name: PORT
              value: {{ .Values.env.PORT | quote }}
            - name: DATABASE_HOST
              value: {{ .Values.env.DATABASE_HOST | quote }}
            - name: DATABASE_PORT
              value: {{ .Values.env.DATABASE_PORT | quote }}
            - name: DATABASE_NAME
              value: {{ .Values.env.DATABASE_NAME | quote }}
            - name: DATABASE_USERNAME
              value: {{ .Values.env.DATABASE_USERNAME | quote }}
            - name: DATABASE_PASSWORD
              value: {{ .Values.env.DATABASE_PASSWORD | quote }}
